In [1]:
import pandas as pd

In [2]:
#Q1
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

In [3]:
duration = [2,3,6,4]

In [4]:
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [6]:
#Q2
#loc function gives value present at the label value or defined index value.
#iloc function gives value on the basis of python default indexing system.

In [7]:
import numpy as np

In [8]:
#Q3
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

In [9]:
indices = [1,2,3,4,5,6]

In [10]:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [11]:
reindex = [3,0,1,2]

In [12]:
new_df = df1.reindex(reindex)

In [13]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.016232  0.128931  0.003029  0.909742  0.310290  0.931903
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.950707  0.442358  0.515846  0.761299  0.216769  0.787890
2  0.962659  0.816464  0.504442  0.921407  0.967199  0.207577

In [14]:
new_df.loc[2]

column_1    0.962659
column_2    0.816464
column_3    0.504442
column_4    0.921407
column_5    0.967199
column_6    0.207577
Name: 2, dtype: float64

In [15]:
new_df.iloc[2]

column_1    0.950707
column_2    0.442358
column_3    0.515846
column_4    0.761299
column_5    0.216769
column_6    0.787890
Name: 1, dtype: float64

In [16]:
# in this section. loc is printing the row data which is present at the 
# lebeled index value '2', whereas iloc is printing the row data which 
# is present at the default indexed position which is '2' according to 
# python default indexing.

In [17]:
#Q4
df1.mean(axis=0)
#['column_1', 'column_2', 'column_3', 'column_4' ,'column_5', 'column_6']

column_1    0.564201
column_2    0.386151
column_3    0.333444
column_4    0.663859
column_5    0.418161
column_6    0.533783
dtype: float64

In [18]:
df1.std(axis=0)['column_2']

0.24972671193904633

In [19]:
#Q5
df1['column_2'] = 'variable'

In [20]:
df1.mean(axis=0)['column_2']

/tmp/ipykernel_84/412333406.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean(axis=0)['column_2']

KeyError: 'column_2'

In [ ]:
#Its not possible to take the mean of str values as the mean operation requires the
#data to be int

In [ ]:
#Q6
#window have many functions, one of them is rolling

In [23]:
#Q7
import pandas as pd
import datetime as dt

In [24]:
timestamp = pd.Timestamp(dt.datetime(2021,10,10))

In [25]:
res = timestamp.today()

In [26]:
res

Timestamp('2023-07-13 09:02:46.807280')